<div class="client-craft umb-modal" ng-controller="Umbraco.Crm.Notes.CreateController as vm">
  <div class="client-craft umb-modal-wrapper">
    <!-- Header -->
    <div class="client-craft umb-modal-header">
      <h3 class="client-craft umb-modal-header__title">
        <localize key="lead_create_title">Create Note</localize>
      </h3>
      <button type="button" class="client-craft umb-modal-header__close" ng-click="vm.close()">
        <i aria-hidden="true" class="client-craft umb-icon umb-icon-multiply"></i>
      </button>
    </div>

    <!-- Body -->
    <div class="client-craft umb-modal-body">
      <form name="leadForm" novalidate>
        <div class="editor-panels-container">
          <umb-box class="client-craft">
            <umb-box-content class="client-craft">
              <div class="client-craft umb-control-group">
                <label for="content-textarea">Content</label>
                <textarea class="client-craft umb-textarea" id="content-textarea" ng-model="vm.model.content" required></textarea>
              </div>
            </umb-box-content>
          </umb-box>
        </div>
      </form>
    </div>

    <!-- Footer -->
    <div class="client-craft umb-modal-footer">
      <div class="client-craft umb-modal-footer__buttons">
        <umb-button
          class="client-craft"
          type="button"
          button-style="link"
          label="Cancel"
          action="vm.close()">
        </umb-button>
        <umb-button
          class="client-craft"
          type="button"
          action="vm.submit()"
          button-style="success"
          label="Save"
          state="vm.submitState"
          disabled="leadForm.$invalid">
        </umb-button>
      </div>
    </div>
  </div>
</div>
