#leads-overview{
    background-color: #e4e4e4;

    .umb-panel-body{
        top: 0;
        padding: 24px;

        section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;

            input[type="search"] {
                width: min(45%, 450px);
                margin: 0;
            }

            div{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 16px;

                button{
                    text-align: center;
                    padding: 6px 12px;
                    border-radius: 4px;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    background-color: #fcfcfc;

                    &:first-child{
                        background-color: green;
                        color: white;
                    }
                }

            }
        }
    }
}

